@page "/AddFamily"
@using Models
@using Assignment.Data
@inject IFamilyService familiesService
@inject NavigationManager NavigationManager;
<h3>AddFamaily</h3>
<EditForm Model="@newFamily" OnValidSubmit="@AddNewFamily">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div style="color: red">
        @familyError
    </div>
    <div class="form-group">
        Street Name: 
        <InputText @bind-Value="newFamily.StreetName" />
        <button class="btn btn-outline-dark" type="submit" style="float:right;">Create</button>
    </div>
    <div class="form-group">
        House Number: 
        <InputNumber @bind-Value="newFamily.HouseNumber"/>
    </div>
</EditForm>
<EditForm Model="@newFamily" OnValidSubmit="@AddAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div style="color: red">
            @adultError
        </div>
    <div class="form-group">
        Adult: <br/>
        <InputNumber @bind-Value="adultId"/>
        <button class="btn btn-outline-dark" type="submit">add</button>
        @if (newFamily.Adults == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (!newFamily.Adults.Any())
        {
            <p>
                <em>No adults in the family...</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Sex</th>
                    <th>Hair Color</th>
                    <th>Eye color</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Job</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var adult in newFamily.Adults)
                {
                    <tr>
                        <td>@adult.Id</td>
                        <td>@adult.FirstName</td>
                        <td>@adult.LastName</td>
                        <td>@adult.Sex</td>
                        <td>@adult.HairColor</td>
                        <td>@adult.EyeColor</td>
                        <td>@adult.Age</td>
                        <td>@adult.Weight</td>
                        <td>@adult.Height</td>
                        <td>@adult.JobTitle</td>
                        <td>
                            <button @onclick="@(() => RemoveAdult(adult.Id))">
                                <i class="oi oi-trash" style="color:red"/>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</EditForm>
<EditForm Model="@newFamily" OnValidSubmit="@AddChild">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
    Child: 
    <InputNumber @bind-Value="childId"/>
    <button class="btn btn-outline-dark" type="submit">add</button>
    <div style="color: red">
        @childError
    </div>
    @if (newFamily.Children == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else if (!newFamily.Children.Any())
    {
        <p>
            <em>No children in the family...</em>
        </p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Hair Color</th>
                <th>Eye color</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Interest</th>
                <th>Pet</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var child in newFamily.Children)
            {
                <tr>
                    <td>@child.Id</td>
                    <td>@child.FirstName</td>
                    <td>@child.LastName</td>
                    <td>@child.Sex</td>
                    <td>@child.HairColor</td>
                    <td>@child.EyeColor</td>
                    <td>@child.Age</td>
                    <td>@child.Weight</td>
                    <td>@child.Height</td>
                    <td>@child.interestList()</td>
                    <td>@child.petList()</td>
                    <td>
                        <button @onclick="@(() => RemoveChild(child.Id))">
                            <i class="oi oi-trash" style="color:red"/>
                        </button>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
</EditForm>
<EditForm Model="@newPet" OnValidSubmit="@AddNewPet">
           <DataAnnotationsValidator/>
           <ValidationSummary/>
           <div style="color: red">
               @outError
           </div>
            <div class="form-group">
                Pet: <br/>
                ID: <InputNumber @bind-Value="newPet.Id"/>
                Species: <select class="form-control selectpicker" style="width: 150px" @bind="newPet.Species">
                    <option>Hamster</option>
                    <option>Bunny</option>
                    <option>Frog</option>
                    <option>Budgerigar</option>
                    <option>Owl</option>
                    <option>Snake</option>
                    <option>Dog</option>
                    <option>Cat</option>
                </select> <br/>
                Name: <InputText @bind-Value="newPet.Name"/>
                Age: <InputNumber @bind-Value="newPet.Age"/>
                <p class="actions">
                    <button class="btn btn-outline-dark" type="submit">ADD</button>
                </p>
                            
            </div>
            @if (newFamily.Pets == null)
                    {
                        <p>
                            <em>Loading...</em>
                        </p>
                    }
                    else if (!newFamily.Pets.Any())
                    {
                        <p>
                            <em>The family has no pets.</em>
                        </p>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Species</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in newFamily.Pets)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Species</td>
                                    <td>@item.Name</td>
                                    <td>@item.Age</td>
                                    <td>
                                        <button @onclick="@(() => RemovePet(item.Id))">
                                            <i class="oi oi-trash" style="color: red"/>
                                        </button>
                                    </td>
                                </tr>
            
                            }
                            </tbody>
                        </table>
                    }
            
        </EditForm>
    



@code {
    private Family newFamily;
    private string familyError;
    private Pet newPet;
    private int adultId;
    private int childId;
    private string outError;
    private string adultError;
    private string childError;


    private async Task AddNewFamily()
    {
        await familiesService.AddFamily(newFamily);
        familyError = await familiesService.getFamilyError();
        if (string.IsNullOrEmpty(familyError))
        {
             NavigationManager.NavigateTo("/FamilyList");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        newPet = new Pet
        {
            Id = 0,
            Species = "Hamster",
            Name = null,
            Age = 0
        };
        adultId = 0;
        childId = 0;
        newFamily = new Family
        {
            Adults = new List<Adult>(),
            Children = new List<Child>(),
            HouseNumber = 0,
            Id = 0,
            Pets = new List<Pet>(),
            StreetName = null
        };
        adultError = null;
        childError = null;
        outError = null;
    }

    private void RemoveAdult(int adultId)
    {
        Adult adultToRemove = newFamily.Adults.First(t => t.Id == adultId);
        newFamily.Adults.Remove(adultToRemove);
    }

    private async Task AddAdult()
    {
        adultError = null;
        foreach (var adults in newFamily.Adults)
        {
            if (adultId==adults.Id)
            {
                adultError = "there is already the adult in the family";
                break;
            }
        }
        if (adultError==null&&familiesService.getAdultById(adultId)!=null)
        {
            newFamily.Adults.Add(await familiesService.getAdultById(adultId));
        }
        else
        {
            adultError = "There is no id of the adult";
        }

    }

    private async Task AddChild()
    {
        childError = null;
        foreach (var children in newFamily.Children)
        {
            if (childId==children.Id)
            {
                childError = "There is already the child in the family";
                break;
            }
        }
        if (childError==null&&familiesService.getChildById(childId)!=null)
        {
            newFamily.Children.Add(await familiesService.getChildById(childId));
        }
        else
        {
            childError = "There is no id of the child";
        }
  
        
    }

    private void RemoveChild(int childId)
    {
        Child childToRemove = newFamily.Children.First(t => t.Id == childId);
        newFamily.Children.Remove(childToRemove);
    }
    
    private void AddNewPet()
    {
        outError = null;
        foreach (var pets in newFamily.Pets)
        {
            if (newPet.Id==pets.Id)
            {
                outError = "You had this pet (the id has repeated)";
                break;
            }
            if (newPet.Name==null)
            {
                outError = "You should write the name of the pet";
                break;
            }
        }
        if (outError==null)
        {
            newFamily.Pets.Add(newPet);
        }
        newPet = new Pet
        {
            Id = 0,
            Species = "Hamster",
            Name = null,
            Age = 0
        };
    }

    private void RemovePet(int petId)
    {
        Pet petToRemove = newFamily.Pets.First(t => t.Id == petId);
        newFamily.Pets.Remove(petToRemove);
    }


}